/* Structure */
:root {
    --main-background-color: white;
    --secondary-background-color: #741D12;
    --tertiary-background-color: black;
    --box-three-background-color: #ECECEC;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
}

.background {
    width: 100%;
}

#main-img {
    margin: 0;
}

#main-img img {
    width: 100%;
    max-width: 100%;
}

/* Header */

#main-header {
    background-color: var(--tertiary-background-color);
    position: relative;
    height: 120px;
}

#main-logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 8%;
    height: 60px;
    width: 300px;
    color: var(--main-background-color);
}

#main-logo-img {
    padding: 10px;
}

#main-logo-text p {
    position: relative;
    top: 25px;
}

#main-logo-text h3{
    position: relative;
    bottom: 7px;
    font-size: 30px;
}

#top-header {
    text-wrap: nowrap;
    position: absolute;
    text-align: center;
    top: 2%;
    right: 8%;
}

#gateway ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 5px;
    max-width: 100%;
}

#gateway li {
    flex: 1;
    min-width: 20;
}

#gateway a {
    text-decoration: none;
    font-size: 10px;
    color: var(--main-background-color);
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

#menu ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    margin-left: 10px;
    padding: 5px;
}

#menu li {
    flex: 1;
    min-width: 20;
    border-right: 1px solid var(--main-background-color);
}

#menu li:last-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    font-size: 10px;
    color: var(--main-background-color);
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

/* Navigation */

#main-nav {
    background-color: var(--secondary-background-color);
    text-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
}

#main-nav ul {
    list-style-type: none; /* Gets rid of bullet points */
    display: inline-flex; /* Makes the list items display horizontally */
    justify-content: space-evenly;
    width: 100%; /* Makes the list items take up the full width of the nav */
    padding-left: 0; /* Gets rid of default padding */
}

#main-nav a {
    display: block;
    padding: 0;
    text-align: center;
    text-decoration: none;  /* Gets rid of underline */
    font-size: 20px;
    font-weight: bold;
    color: var(--main-background-color);
}

#nav-img {
    display: flex;
    flex-direction: column;
}

/* First Section */

#box-one {
    display: flex;
    background-color: var(--main-background-color);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 350px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#box-one-title {
    background-color: var(--secondary-background-color);
    font-size: 50px;
    font-weight: bold;
    color: var(--main-background-color);
    min-height: 100px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15%;
    left: 10%;
    padding: 0;
}

#box-one-title p {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#box-one-text {
    width: 60%;
    font-size: 20px;
}

/* Second Section */

#box-two {
    display: flex;
    min-height: 500px;
    width: 100%;
    background-color: var(--secondary-background-color);
}

#box-two-img img {
    flex: 50%;
    max-width: 100%;
}

#box-two-text {
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
    flex: 50%;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-two-text p {
    margin-left: 10px;
    margin-right: 100px;
}

#box-two-text-one {
    font-size: 40px;
    margin: 5px;
}

/* Third Section */

#box-three {
    background-color: var(--box-three-background-color);
    width: 100%;
}

#box-three-section {
    display: flex;
    min-height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
}

#box-three h1 {
    font-size: 40px;
    color: var(--secondary-background-color);
    font-weight: bold;
}

/* Fourth Section */

#box-four {
    background-color: var(--main-background-color);
    width: 100%;
}

#box-four-section {
    display: flex;
    min-height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
}

#box-four h1 {
    font-size: 40px;
    color: var(--secondary-background-color); 
}

/* Fifth Section */

#box-five {
    background-color: var(--main-background-color);
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.box-five-img {
    flex: 50%;
    max-width: 100%;
}

.box-five-text {
    flex: 50%;
    max-width: 250px;;
}

.box-five-text h3 {
    color: var(--secondary-background-color);
}

/* Sixth Section */

#box-six {
    background-color: var(--tertiary-background-color);
    width: 100%;
    margin-top: 100px;
}

#box-six-section {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    position: relative;
}

#box-six-img {
    position: relative;
    max-width: 100%;
}

#box-six-text {
    color: var(--main-background-color);
    font-size: 20px;
    padding-left: 30px;
}

/* Footer */

#main-footer {
    background-color: var(--secondary-background-color);
    padding: 0;
    margin: 0;
}

#footer-content {
    width: 80%;
    margin: 0 auto;
}

#footer-top {
    position: relative;
    min-height: 100px;
}

#footer-logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    height: 60px;
    width: 300px;
    color: var(--main-background-color);
}

#footer-logo-img {
    padding: 10px;
}

#footer-logo-text p {
    position: relative;
    top: 25px;
}

#footer-logo-text h3{
    position: relative;
    bottom: 7px;
    font-size: 30px;
}

#footer-top-socials {
    display: flex;
    position: absolute;
}



.footer-middle-title {
    color: var(--main-background-color);
    
    margin-right: 1%;
    font-size: 13px;
}

#footer-middle {
    display: flex;
    justify-content: center;
    
}

.footer-middle-sections {
    padding: 1%;
}

.footer-links-block {
    border-top: 1px solid var(--main-background-color);
    display: flex;
    font-size: 12px;
    
    margin-right: 1%;
    padding-top: 15px;
}

.footer-links {
    display: flex;
    margin-right: 1%;;
    padding: 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px; /* Adds some spacing between list items */
}

.footer-links a {
    text-decoration: none;
    color: var(--main-background-color);
}

#footer-bottom {
    background-color: var(--tertiary-background-color);
    text-wrap: nowrap;
    border-top: 1px solid var(--main-background-color);
}


#footer-bottom ul {
    display: flex;
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding-left: 9%;
    margin-left: 10px;
}

#footer-bottom li {
    min-width: 20;
    border-right: 1px solid var(--main-background-color);
}

#footer-bottom li:last-child {
    border-right: none;
}

#footer-bottom a {
    text-decoration: none;
    font-size: 12px;
    color: var(--main-background-color);
    display: block;
    padding-left: 7px;
    padding-right: 7px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    #top-header {
        display: none;
    }

    #main-nav ul {
        flex-direction: column;
        padding: 10px;
    }

    #main-nav li {
        padding: 10px;
    }

    #box-one {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #box-two {
        flex-direction: column;
    }

    #box-two-img {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #box-one-title {
        background-color: var(--main-background-color);
        position: relative;
        top: 0;
        left: 0;
        color: var(--secondary-background-color);
    }

    #box-one-text {
        position: relative;
    }

    #box-six-text {
        padding-left: 0;
    }

    #footer-middle {
        display: flex;
        flex-direction: column;
    }

    .footer-links-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-start; 
    }
}

/* flex wrap then percentage 
    flex-wrap: wrap;
    flex: 30%;
*/

/* 
    no dropdown menu or animations
*/