/* Structure */
:root {
    --main-background-color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.columns {
    display: flex;
    
}

.section {
    width: 70%;
}

/* Header */

#menu {

}

/* Navigation */

#main-nav {
    background-color: darkred;
    text-align: center;
}

#main-nav ul {
    list-style-type: none; /* Gets rid of bullet points */
    display: inline-flex; /* Makes the list items display horizontally */
    width: 100%; /* Makes the list items take up the full width of the nav */
    padding-left: 0; /* Gets rid of default padding */
}

#main-nav li {
    flex: 1;
    padding: 0;
}

#main-nav a {
    text-decoration: none;  /* Gets rid of underline */
    color: white;
}

/* Media Queries */

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }

    #menu {
        display: none;
    }

    #gateway {
        display: none;
    }
}