:root {
    --main-bg-color: white;
    --secondary-background-color: #F1F2E9;
    --main-text-color: #741D12;
}

.box {
    flex: 40%;
    min-height: 300px;
    box-shadow: 5px 5px 5px #888888;
    background: var(--main-bg-color);
    margin: 2%;
}

.box h2 {
    text-align: center;
}

/* Header */

body {
    background: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--main-text-color);
    text-align: center;
}

#main-content {
    background: var(--secondary-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
}

/* about */

#about {

}

/* skills */

#skills {
    
}

/* skills */

#project {
    
}

/* contact */

#contact {
    
}

/* Media Queries */

@media (max-width: 768px) {
    #main-content {
        flex-direction: column;
    }
}