/* Structure */

body {
    background: #B2BABB;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #B2BABB;
}

.box {
    padding: 10px 10px;
    background: #566573;
    width: 300px;
    height: 460px;
    margin: 10px;
    text-align: center;
}

.box h3 a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* Project Assignments */

#projects {
    margin-top: 50px;
}

/* Typography */

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

/* Media Queries */

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}