:root {
    --main-text-color: #741D12;
    --secondary-text-color: black;
    --background-color: white;
    --main-box-color: #F1F2E9;
}

body {
    font-family: Arial, sans-serif;
    background: var(--background-color);
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: var(--main-text-color);
}

h2 {
    font-size: 28px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.bird-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.bird-box {
    background: var(--main-box-color);
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.bird-box:hover {
    transform: scale(1.05);
}

.bird-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: var(--secondary-text-color);
}

/* Modal Styling */
.w3-modal-content {
    max-width: 700px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.w3-modal-content img {
    max-width: 250px;
    border-radius: 5px;
    margin-left: 20px;
}

.modal-details {
    flex-grow: 1;
    padding-right: 20px;
}

.modal-details h2 {
    font-size: 28px;
    color: var(--main-text-color);
}

.modal-details p {
    font-size: 16px;
    line-height: 1.6;
}

.modal-details p strong {
    color: var(--secondary-text-color);
    font-weight: bold;
}
