:root {
    --background-color: white;
    --main-box-color: #F1F2E9;
    --main-txt-color: #741D12;
    --slider-color: black;
}

body {
    background: var(--background-color);
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */

#main-header {
    text-align: center;
}

#main-header h1 {
    color: var(--main-txt-color);
}

#main-header h2 {
    color: var(--slider-color);
}

/* Main Content */

#main-content {
    background: var(--main-txt-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid black;
}

#description {
    text-align: center;
    margin: 2%;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

#images img {
    width: 250px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid black;
}

#credit {
    display: flex;
    justify-content: start;
    
}

/* Footer */

footer {
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    #toggle-nav {
        display: none;
    }
  
    .hidden-small {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    #main-nav li {
        border-right: none;
    }
}