/* Structure */

body {
    font-family: 'ariel', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDEBD0;
}

h2 {
    text-align: center;
    color: #88D8C0;
}

/* First Section */
.container {
    display: flex;
}

#main-content {
    padding: 10px 0;
}

#main-section {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    background-color: #88D8C0;
}

#links {
    flex: 1;
    background: #DE5D83;
}

#links ul {
    list-style-type: none;  /* Removes bullets from list */
    margin-left: 0;
    padding-left: 10px;
}

#links a {
    color: white;
}

#links h3 {
    margin-left: 10px;
    color: white;
}

.box {
    flex: 1 1 22%; 
    margin: 1%;
    margin-left: 10px;
    text-align: center;
    color: white;
}

.box p {
    text-align: left;
}

footer {
    text-align: center;
}


/* Second Section */

#container-2 {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    color: #88D8C0;
}

#container-2 h3 {
    padding: 0 50px;
}

.img-section {
    padding-left: 50px;
    padding-right: 10px;
}


/* Navigation */

nav {
    width: 100%;
    background-color: #DE5D83; 
    padding: 0; 
    margin: 0; 
}

nav ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
    display: flex; 
    justify-content: space-around;
}

nav li {
    flex: 1; 
    text-align: center; 
    border-right: 1px solid #88D8C0; 
    flex: 1;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0; 
}

/* Media Queries */

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .box {
        flex: 1 1 100%; 
        margin: 10px 0; 
    }
}
