:root {
    --background-color: white;
    --main-box-color: #F1F2E9;
    --main-txt-color: #741D12;
    --star-output-color: black;
    --star-color: yellow;
}

body {
    background: var(--background-color);
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

/* Header */

#main-header {
    text-align: center;
}

#main-header h1 {
    color: var(--main-txt-color);
}

#main-header h2 {
    color: var(--slider-color);
}

/* Stars */

#star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#star-content {
    width: 400px;
    height: 450px;
    background: var(--main-txt-color);
    padding: 2%;
}

#star-head {
    display: flex;
    align-items: center;
}

#star-head h3 {
    margin-right: 10px;
    color: var(--background-color);
}

#star-output {
    background: var(--star-output-color);
    border: 1px solid white;
    height: 80%;
    margin-top: 10px;
    margin: 2%;
    position: relative;
}

.star {  
    background: var(--star-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    /* Got the star shape from https://css-shape.com/star/ */
}

#star-message {
    margin: 1%;
    color: var(--background-color);
    width: 100%;
    text-align: center;
}  

/* Footer */

footer {
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    #toggle-nav {
        display: none;
    }
  
    .hidden-small {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    #main-nav li {
        border-right: none;
    }
}