:root {
    --background-color: white;
    --main-box-color: #F1F2E9;
    --main-txt-color: #741D12;
    --slider-color: black;
}

body {
    background: var(--background-color);
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

/* Header */

#main-header {
    text-align: center;
}

#main-header h1 {
    color: var(--main-txt-color);
}

#main-header h2 {
    color: var(--slider-color);
}

/* Navigation */

#main-nav {
    margin-bottom: 50px;
}

#main-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 10%;
    margin-left: 10%;
}

#main-nav li {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid var(--main-txt-color);
}

#main-nav li:last-child {
    border-right: none;
}

#main-nav a {
    text-decoration: none;
    color: var(--main-txt-color);
}

.hidden {
    display: none;
}

.hidden-small {
    display: none;
}

.triangle-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black;
    margin-left: 10%;
}

.triangle-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-left: 10%;
  }

/* Color Slider */

#color-content {
    display: flex;
    justify-content: center;
}

#color-slider {
    color: var(--background-color);
    background: rgb(0, 0, 0);
    height: 150px;
    width: 400px;
    text-align: center;
    padding-right: 5px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--main-txt-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--main-txt-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* Picture Chooser */

#pic-content {
    display: flex;
    justify-content: center;
}

#pic-chooser {
    color: var(--main-txt-color);
    background: var(--main-box-color);
    min-height: 150px;
    width: 400px;
}

#pic-chooser h3 {
    text-align: center;
}

#main-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-pic {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* Footer */

footer {
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    #toggle-nav {
        display: none;
    }
  
    .hidden-small {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    #main-nav li {
        border-right: none;
    }
}