:root {
    --background-color: white;
    --main-box-color: #741D12;
    --main-txt-color: black;
}

body {
    background: var(--background-color);
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */

#main-header {
    text-align: center;
}

#main-header h1 {
    color: var(--main-box-color);
}

#main-header h2 {
    color: var(--main-txt-color);
}

/* Main Content */

#main-content {
    background: var(--main-box-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid black;
}

#description {
    text-align: center;
    margin: 1%;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

#images img {
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid black;
}

#credit {
    margin: 1%;
}

#credit a {
    color: var(--main-txt-color);
    text-decoration: none;
}

/* Footer */

footer {
    text-align: center;
}

